											
body{
	max-width: 2048px;
}						

	/*--   SECTION 1   */

												/* Navibar */
#navibar{
	width:100%;
	min-height: 60px;
	/* border-bottom: 2px solid #FF7700;*/
	color: #FF7700;
	margin: 20px 0;
}
#topbox{
	width:90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}


																/* Left */
.topbox-name{
	margin-right: 20px;
}
.name{
	font-size: 30px;
	margin-right: 10px;
}
.line{
	border-left: 1px solid #ccc;
	margin-right: 10px;
}
.service{
	font-family: "Comic Sans MS","Trebuchet MS","Courier New", sans-serif;
	font-size: 13px;
}


	
																/* Navi */
.topbox-navi{
	margin-left: 20px;
	margin-right: 20px; 
}

.topbox-navi li{
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}
.topbox-navi li a{
	text-decoration: none;
	color: black;
	font-size:18px;
	font-family: "Impact","Helvetica Neue","Microsoft YaHei","Arial",sans-serif;
}

.topbox-navi li a:hover{
	background:#FF7700;
	color: white;
	padding:8px;
	border-radius: 10px;
	
}
.Technician{
	
	color: silver;
	border: 1px solid gray;
	padding: 8px;
	border-radius: 10px;
}




																/* Cart */
.cart ion-icon {
	vertical-align: bottom;
	font-size: 25px;
	padding-right: 5px;
	margin-left: 80px;
}
																
.cart a{
	color: #FF7700;
	cursor: pointer;
	text-decoration: none;
}
.cart span{
	font-size: 25px;
}


	/*--   SECTION 2   */


#banner{
	background-image: url("../images/laptop.jpg");
	background-size: auto;
    height:600px;
	border-radius: 15px;
} 

#text{
	font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title{
	font-size: 45px;
	font-weight:700;
	padding-top: 120px;
	padding-left: 45px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
}
#pa{
	font-size: 20px;
	padding-left: 70px;
	margin-top: 15px;
	color: white;

}
#ordernow{
	margin-top:60px;
	margin-left: 110px;
	width:fit-content;
	padding: 5px 20px;
	background-color: transparent;
	border: white 2px solid;
	border-radius: 25px;
}
#ordernow a{
	text-decoration: none;
	color: white;
	font-size: 28px;
}


	/*--   SECTION 3   */
#service{
	text-align: center;
	background-color: antiquewhite;
	border-radius: 15px;
}
								/*--   Service 1   */
#service1{

	height: fit-content; 
	margin: 5px auto;
	margin-bottom: 20px;
	width: 70%;
	padding-top: 20px;
}

#service1 li{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size:17px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 20px 30px;
}

#service1 li img{
	width: 50px;
}



								/*--   Service 2   */
#service2{
	height: fit-content; 
	margin: 50px auto;
	text-align: center;
	width: 70%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#s1{
	font-size: 40px;
}
#s2{
	font-size: 25px;
}

								/*--   Service 3   */
#service3{

	height: fit-content; 
	margin: 20px auto;
	width: 60%;
}

#service3 li{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size:15px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 10px 20px;
}

#service3 li img{
	width: 50px;
}


						/*--   Service 4   */

#service4{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	height:fit-content;
	
}

#service4 p{

	font-size: 40px;
}

#service span{
	font-size: 60px;
	color: red;
}

#name, #info{
	height: 50px;
	width: 400px;
	margin: 10px;
}

#descriptions{
	height:100px;
	width: 834px;
	margin: 10px;
}

#service4 button{
	width: 200px;
	height: 80px;
	margin: 20px auto;
	font-size: 20px;
	background-color: #FF7700;
	border: none;
	color:white;
}

#service4 ::placeholder{
	font-size: 20px;
}

						/*--   Service 5   */

#service5 {
	
	margin:5px auto;
	font-family: Arial, Helvetica, sans-serif;
	height:fit-content;
	width: 70%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#service5 H1{
	padding-top: 30px;
	padding-bottom: 10px;
}
#service5 p{
	text-align: justify;
	font-size: 25px;
	padding-top: 15px;
}

	/*--   SECTION 4   */


footer{
	background-color:cornflowerblue ;
	height: 250px;
	margin: 0 auto;
	border-radius: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container{
	margin:auto 50px;
}

.footer1{
	float: left;
	margin:auto 150px;
}

#feedback form{
	width: 410px;
}

#feedback input{
	margin-top: 10px;
	border:gray 1px solid;
	border-radius: 5px;;
	padding: 0 20px;
}
#Name{
	width:115px;
	height: 30px;
}

#Email{
	width:115px;
	height: 30px;
}

#Submit{
	height: 30px;
}

#Submit:hover{
	background-color: #FF7700;
}

textarea{
	border-radius: 5px;
	border:gray 1px solid;
	height: 90px;
}

#section-1 ul li{
	display: inline-block;
	margin-right: 30px;

}
.social-list{
	padding-left: 0px;
	margin-top: 30px;
}

.fa {
	width: 60px;
	color:black;
}
#feedbacktext{
	min-height: 40px;
	min-width: 400px;
}

#section-2 ::placeholder{
	font-size: 15px;
}
